/* Reset some default browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color:#2D2D2D;
    
}

/* Container for page content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #242221;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content */
main {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #389e90;
    color: #fff;
}
/* Other CSS rules */

/* Add lines between rows and columns */
.table td,
.table th {
/*  border: 4px solid #dee2e6;*/
background-color: #242221fb;
}

/* Make the away team row light gray */
.table-away-team {
  background-color: #2D2D2D; 
}

/* Add more space between games */
.table-game-spacing {
  margin-bottom: 2rem;
}

.table-centered-data {
    text-align: center;
}



.table-data-spacing {
    padding: 8px 15px;
}

.table-equal-width-columns {
    width: 100%;
}

.table-wrapper {
    overflow-x: auto;
}

.table-limited-width {
    max-width: 100%;
    width: 100%;
}


html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.table thead th {
    background-color: #D95204;
    color: #fff;
}
.table th.matchup,
.table td.matchup {
    width: 40%; /* Adjust this value to set the desired width */
}


.bookmaker-odds {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out;
    display:none;
}

.expanded {
    opacity: 1;
    padding: 5px;
    transform: scaleY(1);
}

.table-centered-data {
    text-align: center;
    vertical-align: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #389e90;
}

input:focus + .slider {
  box-shadow: 0 0 1px #389e90;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.btn-primary, .btn-primary:link, .btn-primary:visited, .btn-primary:hover, .btn-primary:active {
    color: #fff;
    background-color: #7dad81;
    border-color: #007bff;
    text-decoration: none;
}
.min-width-ai {
    min-width: 100px; /* Adjust this value based on your desired minimum width */
}

.matchup.seafoam-bg {
    background-color: #389e90;
}

.min-width-odds {
    min-width: 100px; /* Adjust this value based on your desired minimum width */
}

.min-width-expected-value {
    min-width: 100px; /* Adjust this value based on your desired minimum width */
}


.table-centered-data.grey{
    background-color: grey;
}

.btn {
	border: none;
	
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


/* Icon separator */
.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0,0,0,0.15);
}

/* Button 1 */
.btn-1 {
	background: #3498db;
	color: #fff;
}

.btn-1:hover {
	background: #2980b9;
}

.btn-1:active {
	background: #2980b9;
	top: 2px;
}

.btn-1:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 2 */
.btn-2 {
	background: #2ecc71;
	color: #fff;
}

.btn-2:hover {
	background: #27ae60;
}

.btn-2:active {
	background: #27ae60;
	top: 2px;
}

.btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-3 {
	background: #D95204;
	color: #fff;
}

.btn-3:hover {
	background: #389e90;
}

.btn-3:active {
	background: #389e90;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-4 {
	background: #34495e;
	color: #fff;
}

.btn-4:hover {
	background: #2c3e50;
}

.btn-4:active {
	background: #2c3e50;
	top: 2px;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Icons */

.icon-cart:before {
	content: "\f07a";
}

.icon-heart:before {
	content: "\f55a";
}

.icon-info:before {
	content: "\f05a";
}

.icon-send:before {
	content: "\f1d8";
}
.team-name-no-wrap {
    white-space: nowrap;
}
.game-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moresportsbook-btn {
    font-size: 12px;
    padding: 6px 12px;
    margin-left: 16px;
    text-decoration: none;
    white-space: nowrap;
    
}

.date-no-wrap{
    white-space: nowrap;
}

.countdown-timer {
    position: relative;
    top: -8.7rem;
    right: -16rem;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.switch-container {
    position: absolute;
    top: 200px;
    right: 580px;
  }
.kelly-calculator {
    display: block;
    padding: 10px;
    background-color: #14181d;
    border-radius: 4px;
    margin-bottom: 20px;
    
    left: 10px; /* Position the calculator to the left */
    top: 20px; /* Adjust this value if necessary */
    width: 20px; /* Adjust the width to cover the input boxes */
    height: auto; /* Add a height property */
    overflow: auto; /* Add this line to handle overflow if content height is more than specified height */
    margin-right: 20px;
    flex: 0 0 calc(30% - 20px);
    margin-right: 20px; /* Adjust the value as needed */
}

.main-container {
    display: flex;
    width:100%;
    padding-bottom: 10%;
    
}
.auto-refresh-container {
    margin-left: 230px;
    flex: 1 1 70%;
    padding-top:20px;
    
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.heading-spacing {
   /* Adjust this value to create more or less space */
    padding-bottom: 2.5%;
}

.switch-container .other {
    margin-left: 30px;
}
.switch-label {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}




.parameters {
    background-color: #242221;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 84.4%;
}

.bankroll-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.bankroll, .bankroll-input, .kelly-multiplier {
    background-color: #2D2D2D;
    color: white;
}

h3.bankroll-output, .kelly-name, .kelly-output {
    color: white;
}

.navbar-nav-right {
    position: absolute;
    right: 15rem;
    top: 1.5rem;
  }

.dropdown-menu {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;

}

 /* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  display: none;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #389e90;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 5rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 768px) {
    .sidenav {
      display: block;
    }
  }

#logos-title{

    position: absolute;
    margin-top: 1rem;
    margin-left: 2rem;
    padding-bottom: 4rem;
}

#inner-main {
    transition: marigin-left .5s;
    
}

#title-logo{

    font-family: 'Josefin Sans', sans-serif;
    color:#389e90;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.login-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-form form label {
    font-weight: bold;
}
.login-form form input[type="submit"] {
    cursor: pointer;
}
.signup-link {
    text-align: center;
    margin-top: 10px;
}