/* Reset some default browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
}

/* Container for page content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #051336;
    color: #fff;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content */
main {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #051336;
    color: #fff;
}
/* Other CSS rules */

/* Add lines between rows and columns */
.table td,
.table th {
  border: 1px solid #dee2e6;
}

/* Make the away team row light gray */
.table-away-team {
  background-color: #9c9c9c;
}

/* Add more space between games */
.table-game-spacing {
  margin-bottom: 2rem;
}

.table-centered-data {
    text-align: center;
}



.table-data-spacing {
    padding: 8px 15px;
}

.table-equal-width-columns {
    width: 20%;
}

.table-wrapper {
    overflow-x: auto;
}

.table-limited-width {
    max-width: 100%;
    width: 100%;
}


html, body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.table thead th {
    background-color: #051336;
    color: #fff;
}
