{% extends 'base.html' %}

{% block content %}
    <h1>Today's Hockey Games</h1>
    <div class="table-spacing">
        {% for game in games %}
            <div class="table-wrapper">
                <table class="table table-striped table-game-spacing table-limited-width">
                    <thead>
                        <tr>
                            <th>Game ID</th>
                            <th>Game Time</th>
                            <th>Matchup</th>
                            <th>Moneyline Odds</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" class="table-centered-data table-data-spacing table-equal-width-columns">
                                <a href="{{ url_for('hockey.game', game_id=game.id) }}">#{{ game.id }}</a>
                            </td>
                            <td rowspan="2" class="table-centered-data table-data-spacing table-equal-width-columns">{{ game.time }}</td>
                            <td class="table-data-spacing table-equal-width-columns">{{ game.away_team.city }} {{ game.away_team.name }}</td>
                            <td class="table-centered-data table-data-spacing table-equal-width-columns">{{ game.odds.away }}</td>
                            
                        </tr>
                        <tr class="table-away-team">
                            <td class="table-data-spacing table-equal-width-columns">{{ game.home_team.city }} {{ game.home_team.name }}</td>
                            <td class="table-centered-data table-data-spacing table-equal-width-columns">{{ game.odds.home }}</td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}