{% extends 'base.html' %}

{% block content %}
    

    <h3>{{ game.away_team }} at {{ game.home_team }}</h3>
    <p>Game Time: {{ game.commence_time }}</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sportsbook</th>
                <th>{{ game.home_team }} Odds</th>
                <th>{{ game.away_team }} Odds</th>
            </tr>
        </thead>
        <tbody>
            {% for bookmaker in game.bookmakers %}
                <tr>
                    <td>{{ bookmaker.title }}</td>
                    <td>{{ bookmaker.home_odds }}</td>
                    <td>{{ bookmaker.away_odds }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p><a href="{{ url_for('hockey.index') }}">Back to Upcoming Games</a></p>
{% endblock %}