{% extends 'base3.html' %}

{% block content %}
    <div id="countdown-timer" class="countdown-timer"></div>
    <h3 class="heading-spacing">{{ game.away_team }} at {{ game.home_team }}</h3>
    <p id="local-game-time">Game time: <time class="local-game-time" data-commence-time="{{ game.commence_time }}"></time></p>
    

   <!-- <div class="parameters">
        <form class="bankroll-form" action="{{ url_for('baseball.game', game_id=game.id) }}" method="POST">
            <label for="bankroll">Bankroll:</label>
            <input class="bankroll-input" type="number" id="bankroll" name="bankroll" min="0" step=".01" value="{{ bankroll }}" required>
            <input class="bankroll" type="submit" value="Submit">
            
        </form>
    
        <h3 class="bankroll-output">Current Bankroll:  ${{ bankroll }}</h3>
        </div> -->
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Sportsbook</th>
                
                <th>{{ game.away_team }} </th>
                <th class="matchup seafoam-bg">Away AI</th>
                <th>AWAY EV%</th>
                <th>Kelly Multiplier</th>
                <th>Kelly Gross</th>
                <th> vs.</th>
                <th>{{ game.home_team }} </th>
                <th class="matchup seafoam-bg">Home AI</th>
                <th>HOME EV%</th>
                <th>Kelly Multiplier</th>
                <th>Kelly Gross</th>
                <th>Sportsbook</th>
                

            </tr>
        </thead>
        <tbody>
            {% for bookmaker in game.bookmakers %}
                <tr>
                    <td>{{ bookmaker.title }}</td>
                    
                    <td class="table-centered-data min-width-odds">{{ bookmaker.away_odds }}</td>
                    <td class="table-centered-data min-width-odds">{{ game.away_prediction_american }}</td>
                    <td class="table-centered-data min-width-expected-value">{{ bookmaker.away_expected_value }}%</td>
                    <td class="table-centered-data min-width-expected-value">{{bookmaker.kelly_away_bet | round(2)}}</td>
                    <td class="table-centered-data min-width-expected-value">${{bookmaker.kelly_away_gross | round(2)}}</td>

                    <td class="table-centered-data min-width-odds grey"></td>
                    <td class="table-centered-data min-width-odds">{{ bookmaker.home_odds }}</td>
                    <td class="table-centered-data min-width-odds">{{ game.home_prediction_american }}</td>
                    <td class="table-centered-data min-width-expected-value">{{ bookmaker.home_expected_value }}%</td>
                    <td class="table-centered-data min-width-expected-value">{{bookmaker.kelly_home_bet | round(2)}}</td>
                    <td class="table-centered-data min-width-expected-value">${{bookmaker.kelly_home_gross | round(2)}}</td>
                    <td>{{ bookmaker.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <a href="{{ url_for('baseball.mlb_index') }}" class="btn btn-3 icon-heart moresportsbook-btn"> All Games </a>
        
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const gameTimeElements = document.querySelectorAll(".local-game-time");
            gameTimeElements.forEach((gameTimeElement) => {
                const utcGameTimeString = gameTimeElement.getAttribute("data-commence-time");
                const utcGameTime = new Date(utcGameTimeString);

                // Convert the UTC time to the user's local time
                const localGameTime = new Date(utcGameTime.getTime() - utcGameTime.getTimezoneOffset() * 60000);

                const options = {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    timeZoneName: 'short'
                };

                const localGameTimeString = localGameTime.toLocaleString(undefined, options);
                gameTimeElement.textContent = localGameTimeString;
            });
        });
    </script>
    <script>
        function updateExpectedValueColors() {
       const expectedValueElements = document.querySelectorAll(".min-width-expected-value");
   
       expectedValueElements.forEach((expectedValueElement) => {
           const expectedValue = parseFloat(expectedValueElement.textContent);
   
           if (expectedValue >= 1 && expectedValue <= 10) {
               expectedValueElement.style.color = '#90F5BB'; // light-green font
           } else if (expectedValue > 10) {
               expectedValueElement.style.color = '#28a745'; // dark-green font
           } else if (expectedValue >= -10 && expectedValue < 0) {
               expectedValueElement.style.color = '#EB584D'; // light-red font
           } else if (expectedValue < -10) {
               expectedValueElement.style.color = '#dc3545'; // dark-red font
           }
       });
   }
       document.addEventListener("DOMContentLoaded", function() {
           // ... Existing code ...
           updateExpectedValueColors();
       });
   
       </script>
        <script>
            // ... All existing scripts ...
    
            // Auto-refresh the page every 5 minutes (300000 milliseconds)
            setTimeout(() => {
                location.reload();
            }, 60000);
        </script>
        <script>
            // Set the refresh interval in seconds
            var refreshInterval = 60; // 1 minute
            
            // Get the countdown timer element
            var countdownTimer = document.getElementById("countdown-timer");
            
            // Initialize the countdown
            updateCountdown();
            
            // Update the countdown every second
            setInterval(updateCountdown, 1000);
            
            // Function to update the countdown timer
            function updateCountdown() {
                countdownTimer.textContent = "Auto-Refresh: "+ refreshInterval + "s";
                refreshInterval--;
            
                if (refreshInterval < 0) {
                    location.reload();
                }
            }
            </script>
{% endblock %}