{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('baseball.index') }}">Back to Today's Games</a>
    <h1>{{ game.home_team.city }} {{ game.home_team.name }} vs {{ game.away_team.city }} {{ game.away_team.name }}</h1>
    <h2>Game Time: {{ game.time.strftime('%H:%M') }}</h2>
    <h3>Moneyline Odds</h3>
    <p>{{ game.home_team.city }} {{ game.home_team.name }}: {{ game.odds.home }}</p>
    <p>{{ game.away_team.city }} {{ game.away_team.name }}: {{ game.odds.away }}</p>
    <h3>Run Line Odds</h3>
    <p>{{ game.home_team.city }} {{ game.home_team.name }}: {{ game.run_line_odds.home }}</p>
    <p>{{ game.away_team.city }} {{ game.away_team.name }}: {{ game.run_line_odds.away }}</p>
{% endblock %}
