<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="navbar-brand" href="{{ url_for('index') }}">Sports Betting App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSports" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sports
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownSports">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item dropdown-toggle" href="#">Baseball</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('baseball.mlb_index') }}">MLB</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link">EV Betting</a>
            </li>
        </ul> 
        
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3s4x+6dU2Qcu2sEdY" crossorigin="anonymous"></script>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>